
<!--left Section-->

<section class="w-full">
  <div class="flex gap-36 items-start  max-w-7xl mx-auto px-4 py-20">
    <div class="flex flex-col items-start gap-8">
      <p class="h2 text-black">
        Beyond Exam Preparations:<br>
        A Gateway to Guaranteed Exam Success
      </p>

      <div class="acc w-full border-b border-gray-600 py-4 cursor-pointer">
        <div class="flex items-start gap-3">
          <img src="/Images/teamwork.png" class="w-6 h-6" alt="teamwork" />
          <p class="h5 text-gray-900">
            Global Exam Preparation Community
          </p>
        </div>

        <!-- THIS is where your description lives (hidden by default) -->
        <div class="acc-body hidden mt-3">
          <p class="body-lg text-gray-600 max-w-lg">
            Join a Top tutors and Students all over the world, and learn together in a beautiful Virtual community, tailored to allow you thrive
          </p>

          <a href="#" class="inline-block mt-3 h5 text-blue-600">
            Read More `
          </a>
        </div>
      </div>

      <!-- 2) Practical Tools... -->
      <div class="acc w-full border-b border-gray-600 py-4 cursor-pointer">
        <div class="flex items-start gap-3">
          <img src="/Images/best-practice 1.png" class="w-6 h-6 mt-1" alt="" />
          <p class="h5 text-gray-900">
            Practical Tools to allow you ace your exams
          </p>
        </div>

        <div class="acc-body hidden mt-3 ">
          <p class="body-lg text-gray-600 max-w-lg">
            Personalized Study Plans, Progress Tracking, and Interactive Quizzes designed to optimize your learning experience and ensure exam readiness.
          </p>

          <a href="#" class="inline-block mt-3 h5 text-blue-600">
            Read More 
          </a>
        </div>
      </div>

      <!-- 3) Practical Tools... -->
      <div class="acc w-full border-b border-gray-600 py-4 cursor-pointer">
        <div class="flex items-start gap-3">
          <img src="/Images/best-practice 1.png" class="w-6 h-6 mt-1" alt="" />
          <p class="h5 text-gray-900">
            Practical Tools to allow you ace your exams
          </p>
        </div>

        <div class="acc-body hidden mt-3 ">
          <p class="body-lg text-gray-600 max-w-md">
            Personalized Study Plans, Progress Tracking, and Interactive Quizzes designed to optimize your learning experience and ensure exam readiness.
          </p>

         <a href="#" class="inline-block mt-3 h5 text-blue-600">
            Read More 
          </a>
        </div>
      </div>
    </div>
    <!--right Section-->
    <img src="/Images/AFYRICA.png" alt="Africa" class="w-120 min-h-96 flex-shrink-0" />
  </div>
</section>






