<section class="w-full bg-[#F9FAFB]">
  <div class="mx-auto max-w-7xl px-4 py-20">
    <div class="flex flex-col items-center gap-8">
     <p class="h1 text-center text-black">Openxp Testimonials</p>
     <p class="h3  text-center text-black">Join Us Today and become a straight A student, below are some
       of our outstanding students, who aced their exams with ease</p>
        <!--cards-->
               <div class="flex gap-6 items-start mt-10">
                <div class="min-h-[400px] w-[500px] bg-white border border-[#2D9CDB]/20 shadow-sm 
                rounded-md px-6 py-6 flex flex-col gap-6">
             <img src="/Images/Face.png" alt="Avatar" class="w-16 h-16" />
             <p class="body-lg text-black">Openxp has Played  a vital role in me becoming a model student, and true their help I have been able pass my final exams in order for me to study internationally.Growing as up from a humble background, I understand how much it means to put your all, and openxp gives you
                 a very big community to support and learn.
                 </p>
                 <span class="h4 text-[#2D9CDB]"> Ariana Baker</span>
                 </div>

                 <div class="min-h-[400px] w-[500px] bg-white border border-[#2D9CDB]/20 shadow-sm 
                rounded-md px-6 py-6 flex flex-col gap-6">
             <img src="/Images/Face.png" alt="Avatar" class="w-16 h-16" />
             <p class="body-lg text-black">Openxp has Played  a vital role in me becoming a model student, and true their help I have been able pass my final exams in order for me to study internationally.Growing as up from a humble background, I understand how much it means to put your all, and openxp gives you
                 a very big community to support and learn.
                 </p>
                 <span class="h4 text-[#2D9CDB]"> Ariana Baker</span>
                 </div>

              </div>
            
    </div>
</div>
</section>