<section
  style="background-image: url('Images/Lower.png');"
  class="w-full min-h-[600px] bg-cover bg-center overflow-hidden"
>
<div class="mx-auto max-w-7xl px-4 py-20">
      <div class="flex flex-col items-center gap-8">
      <p class="h2 text-center text-white">Gear Towards Getting Your desired Result for <br> 
        Scholarship Exams  Internationally and Locally.</p>
        <!--cards-->
            
          <div class="flex gap-6 items-center">
                <div class="min-h-[250px] w-[300px] bg-white shadow-sm rounded-md px-6 py-6 flex flex-col items-center justify-center">
             <img src="Images/technology.png" alt="technology" class="w-16 h-16" />
             <p class="h3 text-black text-center">Science and <br>
                Engineering</p>
              </div>
                 <div class="min-h-[250px] w-[300px] bg-[#2D9CDB] shadow-sm rounded-md px-6 py-6 flex flex-col items-center justify-center">
                 <img src="Images/paint.png" alt="paint" class="w-16 h-16" />
                  <p class="h3 text-white text-center">Creative & <br> Art <br>
                  </p>
                </div>
                 <div class="min-h-[250px] w-[300px] bg-white shadow-sm rounded-md px-6 py-6 flex flex-col items-center justify-center">
                <img src="Images/briefcase.png" alt="technology" class="w-16 h-16" />
               <p class="h3 text-black text-center">Business and <br>
                Accounting</p>
              </div>
        </div>
     
      <p class="body-lg text-center text-white">our curriculum is geared towards all kinds of professional courses across the world, our aim is solely creating an effective and efficient method for students to pass exams without
             hassle, through our intense level of online preparation<br> 

              </p>
              <button class="bg-white w-46 rounded-md px-4 py-2 text-[#2D9CDB] btn-text">
                more
              </button>
      </div>
              
 
    </div>
</section>
 
