
<!--Left Section-->
<section class="w-full relative">
   <div class="flex gap-6 justify-between max-w-7xl mx-auto px-4 py-26">
      <div class="flex flex-col gap-6">
         <p class="flex items-center gap-3 text-[#2D9CDB] body-md">
            <img src="Images/fi-rs-presentation.png" alt="chevron down" class="w-4 h-4" />
            Real Time Exam Simulations and resources.
         </p>
         <p class="h4 text-slate-900">
            Practice Popular Exam Questions <br> Guaranteed to aid you ace your forthcoming Exams.
         </p>
         <p class="body-md text-slate-700">
            Join over 10,000+ learners using Openxp to prepare for their exams with confidence.
         </p>
         <p class="body-md text-slate-700">
            Join over 10,000+ learners using Openxp to prepare for their exams with confidence.
         </p>
         <p class="body-md text-slate-700">
            Join over 10,000+ learners using Openxp to prepare for their exams with confidence.
         </p>   
         <button class="bg-[#2D9CDB] w-44 rounded-md px-4 py-2 text-slate-100 btn-text">
                Exam Library
              </button>
      </div>
      
       
     <!--Right Section-->
<div class="flex flex-col flex-1 items-end">
  <div class="w-[500px] px-20 py-7 bg-white border-b border-gray-300 shadow-lg flex items-center gap-4">
    <img src="Images/WAEC.png" alt="WAEC" class="w-10 h-10 shrink-0" />
    <p class="m-0 text-black body-md">
      WAEC Exam Practice Questions
    </p>
  </div>
   <div class="w-[500px] px-20 py-7 bg-white border-b border-gray-300 shadow-lg flex items-center gap-4">
    <img src="Images/Jamb.png" alt="JAMB" class="w-10 h-10 shrink-0" />
    <p class="m-0 text-black body-md">
      JAMB Exam Practice Questions
    </p>
  </div>
  <div class="w-[500px] px-20 py-7 bg-white border-b border-gray-300 shadow-lg flex items-center gap-4">
    <img src="Images/WAEC.png" alt="WAEC" class="w-10 h-10 shrink-0" />
    <p class="m-0 text-black body-md">
      WAEC Exam Practice Questions
    </p>
  </div>
   <div class="w-[500px] px-20 py-7 bg-white border-b border-gray-300 shadow-lg flex items-center gap-4">
    <img src="Images/WAEC.png" alt="WAEC" class="w-10 h-10 shrink-0" />
    <p class="m-0 text-black body-md">
      WAEC Exam Practice Questions
    </p>
  </div>
</div>

          </div>
 <!-- Quote Card (overlapping) -->
 <div
  class="absolute left-1/2 bottom-12 -translate-x-1/2 translate-y-[170px]
         w-full max-w-5xl px-4 z-10"
>
  <!-- VISUAL BLOCK (appearance + alignment) -->
  <div
    class="bg-white  shadow-[0_12px_30px_rgba(0,0,0,0.08)]  py-12 w-full
           flex flex-col items-center text-center gap-2"
  >
    <p class="h3">
      “Education is the most powerful weapon which you can use to change the world.”
    </p>
    <p class="h4">
      Nelson Mandelas
    </p>
  </div>
  
</div>
 
</section>

<section class="bg-[#E8F4FB] w-full min-h-[200px] pt-28 pb-12">
</section>
