
 <header class="bg-[#281266] w-full relative">
      <!--Navigation-->
      <nav class="mx-auto max-w-7xl px-4">
        <div class="flex items-center gap-4 py-3">
          <div class="flex items-center gap-8 flex-1 min-w-0">
            <img
              src="Images/RealLogo.png"
              alt="Openxp Logo"
              class="h-8 w-auto"
            />
            <div
              class="flex gap-4 bg-white/20 text-white rounded-full px-4 py-2"
            >
              <img src="Images/search.png" alt="" class="w-4 h-4" />
              <input
                type="text"
                placeholder="what do you want to learn"
                class="outline-none bg-transparent text-slate-100 body-sm placeholder-white"
              />
            </div>
          </div>
          <!--Navigation Links-->
          <div class="flex items-center gap-3 shrink-0">
            <a class="flex items-center gap-1 text-slate-100 body-md">
              courses
              <img src="Images/Down.png" alt="chevron down" class="w-3 h-3" />
            </a>
            <a class="flex items-center gap-1 text-slate-100 body-md">
              Resources
              <img src="Images/Down.png" alt="chevron down" class="w-3 h-3" />
            </a>
            <a class="text-slate-100 body-md">about us</a>
            <div class="h-6 w-px bg-white/30"></div>
            <a class="text-slate-100 body-md">login</a>
            <button
              class="rounded-md border border-white/50 px-4 py-2 text-slate-100 btn-text"
            >
              Start Free
            </button>
          </div>
        </div>
      </nav>
      <!--Hero Content-->
      <section>
        <div class="mx-auto flex gap-6 justify-between max-w-7xl px-4 py-20">
          <div class="flex flex-col gap-6 py-16">
            <p class="h1 text-white">
              Prepare for university Exams, <br />
              Scholarships Exam
            </p>
            <p class="body-lg text-white/80">
              Embark on a journey towards academic excellence and scholarship
              triumphs. <br />At Openxp, we offer expert guidance,
              strategic exam prep, and scholarship mastery.
            </p>

            <div class="flex gap-4 shrink-0">
              <button class="bg-[#2D9CDB] rounded-md px-4 py-2 text-slate-100 btn-text">
                Take a test Now
              </button>
              <button
                class="rounded-md border border-white/50 px-4 py-2 text-slate-100 btn-text"
              >
                Study Free
              </button>
            </div>
          </div>
          <!--Forms-->
          <div
            class=" w-full max-w-lg bg-white rounded-xl shadow-lg p-6"
          >
            <div class="flex gap-3 flex-col">
              <p class="h3 mb-4">
                Start Preparing For Exams
              </p>

              <div class="flex flex-col gap-4">
                <p class="label">Email Address*</p>
                <input
                  type="email"
                  placeholder="Enter your Email address"
                  class="px-2 w-full h-12 bg-[#E9F0FA] placeholder:text-sm placeholder:font-normal rounded-md border border-slate-300 hover:border-blue-400"
                />
                <button
                  class="px-2 w-full h-12 bg-[#2D9CDB] rounded-md text-slate-100 btn-text"
                >
                  Start Learning Now
                </button> 
                <!--Division-->
                <div class="flex items-center gap-3 w-full">
                  <div class="flex-1 h-px bg-black"></div>

                  <a
                    href="#"
                    class="caption text-gray-600 whitespace-nowrap"
                  >
                    or Join Using
                  </a>

                  <div class="flex-1 h-px bg-black"></div>
                </div>
                <!--links-->
                <div class="flex items-center gap-3 w-full">
                  <a href="#" class="flex w-44 items-center justify-center gap-2 h-12 
                  rounded-lg border border-slate-200 bg-white shadow-sm">
                        <img src="Images/LinkedIn.png" alt="" class="h-5 w-5" />
                        <span class="body-md text-slate-700">Linkedin</span>
                            </a>

                  
                  <a href="#" class="flex w-44 items-center justify-center gap-2 h-12 rounded-lg border border-slate-200 bg-white shadow-sm">
                        <img src="Images/Google.png" alt="" class="h-5 w-5" />
                        <span class="body-md text-slate-700">Google</span>
                            </a>

                            <a href="#" class="flex w-44 items-center justify-center gap-2 h-12 rounded-lg border border-slate-200 bg-white shadow-sm">
                        <img src="Images/Facebook.png" alt="" class="h-5 w-5" />
                        <span class="body-md text-slate-700">Facebook</span>
                            </a>
                          </div>

                          <p class="body-sm text-gray-600 ">
                            By continuing you accept the <a href="#" class="text-blue-500 underline">Terms of Use</a> and <a href="#" class="text-blue-500 underline">Privacy Policy</a>.
                          </p>
                          
                        </div>


                        
                      </div>
                    </section>
                  </header>
